[default]


metric_early_stop = F-score
maximise_metric = True
frames_per_shot = 1
frame_att_rep_size = 128

soft_loss = False
soft_loss_width = 5

temp_model = RNN
chan_temp_mod = 64
pretr_temp_mod = True
pool_temp_mod = mean
dil_temp_mod = 1
scene_len_cnn_pool = 25

score_conv_wind_size = 1
score_conv_bilay = False
score_conv_chan = 8

debug = False
nb_worse_epochs = 10
epochs = 10
feat = resnet50
feat_audio = None

hm_prop = 0
epochs_hm = 5

pretrain_dataset = imageNet
train_visual = True
train_audio = True

redirect_out = False
resize_image = True

log_interval = 100

l_min = 15
l_max = 25
val_l = 5
val_l_temp = 100
val_l_temp_overlap = 0

sparsi_weig = 0
sparsi_wind = 3
sparsi_thres = 1

img_width = 299
img_heigth = 299

train_prop = 0.5

train_part_beg = 0
train_part_end = 0.9

val_part_beg = 0.9
val_part_end = 1

test_part_beg = 0
test_part_end = 1

random_frame_val = False

hidden_size = 1024
num_layers = 2
dropout = 0.2
bidirect = True

max_shots = 6000

lr = 0.001
num_workers = 4
momentum = 0.9
seed = 1

model_id= model1
exp_id = default

dataset_train = Holly2
dataset_val = Holly2
dataset_test = OVSD

cuda = True
multi_gpu = True
optim = SGD
start_mode = scratch
init_path = None
init_path_visual = None
init_path_visual_temp = None
init_path_audio = None
noise =0
param_to_opti = RNN
note = None
val_batch_size = 1
batch_size = 1
class_weight = 1

train_step_to_ignore = 0

lay_feat_cut=4

audio_len = 1

margin=1
dist_order = 2

mining_mode = offline

dist_weight=0
avg_scene_len=8
