[default]
nb_worse_epochs = 10
epochs = 30
feat = resnet50
pretrain_dataset = places365
lr = 0.0001
num_workers = 1
momentum = 0.9
seed = 1
log_interval = 5
model_id= model1
exp_id = default
dataset= OVSD
cuda = True
optim = SGD
start_mode = init
noise =0
param_to_opti = RNN
note = None
batch_size = 32
