[default]
nb_worse_epochs = 10
epochs = 30
feat = resnet50
pretrain_dataset = places365

l_min = 10
l_max = 20
img_width = 299
img_heigth = 299

train_prop = 0.5
val_prop = 0.25

hidden_size = 1024
num_layers = 2
dropout = 0.3
bidirect = True

lr = 0.0001
num_workers = 1
momentum = 0.9
seed = 1
log_interval = 5
model_id= model1
exp_id = default
dataset= OVSD
cuda = True
optim = SGD
start_mode = init
noise =0
param_to_opti = RNN
note = None
batch_size = 32
